.col-3a{
    background: black;

}

.col-12a{
    background:black;
    padding-bottom: 0;

}

.col-12b{
    padding-bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;

}

.col-12BAR{
    background: black;
    padding-bottom: 0;

}


.carousel-inner img {
  height: 100%;
  width:100%;
}


/* change the background color */
.navbar-custom {
    background-color: black;

}

ul#menu li {
  display:inline;
    padding: 30px;
}

.bottomTest
{
  position: absolute;
  bottom: 20px;

}

.bottomTest2
{
  position: absolute;
  bottom: 20px;
  float:right;
}

.col-4a
{
    padding: 15px;
}

/* TEXT CHANGES */


h7{
  color: grey;
}

h5a{
    color: black;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;


}

h6a{
    color: black;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;


}

h6b{
    color: black;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;


}

h2a{
    color: black;
    font-size: 45px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.5px;


}

h1a{
  color: black;
  font-size: 55px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.5px;
}

h2a{
    color: black;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;


}

h5a{
    color: black;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;


}

h7a{
    color: black;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

h7b{
    color: #707070;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
}

p1{
  color: black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}

h7c{
    color: black;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
}

.dropdownText
{
  color: black;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.75px;
}

.nameTextAdjust
{
  line-height: 90%;
}

.testMoveL
{
  float: left;
}

.testMoveR
{
  float: right;
}

.testMoveM
{
  float: center;
}

.weightText
{
  color: black;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

.VSText
{
  color: red;
  font-size: 16px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}


.statMenuText
{
  color: grey;
  font-size: 18px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
}

midBlock
{
   text-align: center;
}

.page-footer
{

    background: black;

}

.nav-item
{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}

.nav-item2
{
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;

}

.footerItem
{
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;

}



body{
  background-color: white;
}

.test{
  border : none !important;
  background-color: white;
}

.adminFightCard{
  height: 460px;
}

a{
    color: white;
    text-decoration: none;

}

/* FONT CHANGES HOVER */

h6a:hover{
  color: red;

}

h7a:hover{
  color: red;

}

a:hover {
  color: red;
  text-decoration: none;
}

footer
{
    height: 250px;
}

input{
    width: 300px;
}

.col-6{
    display: inline-block;
}
.container-fluid
{
    padding-left: 0px;
    padding-right: 0px;
}

.mid
{
    margin: auto;
    padding-left: 350px;

}

/* ALL IMAGE CONTAINERS */

.img-container {
    overflow: hidden;
    max-height: 210px;

}

.img-container2 {
    overflow: hidden;
    max-height: 150px;
}



.img-container4 {
    overflow: hidden;
    max-height: 150px;

    width: 25%;
    float: right;

}

.img-container-3 {
    overflow: hidden;
    max-height: 75px;

}

.textContain
{
  height: 70px;
}

/* ALL IMAGE CSS */

.imgSymbol
{
  max-width: 15%;
  height: auto;
  float: right;
  padding-top: 5px;

}




.img {
     width: 100%;
     height: auto;
 }

.card-img-top
{
  width: 100px;
  height: 100px;
}

.card1{
    border-radius: 4px;
    background: #fff;

      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 30px 5px 30px 5px;
  cursor: pointer;
}


/* color changing divs based on result */
.pickcorrect{
  background: #1adb00;
}

.textCorrect{
  color: #1adb00;
}

.textWrong{
  color: #db0000;
}

.pickwrong{
  background: #db0000;
}

.card1:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.crop {
        width: 200px;
        height: 150px;
        overflow: hidden;
    }

.crop img {
        width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }

    /* PAGINATION STYLING */

    /* .pagination > li > a
    {
        background-color: white;
        color: black;
    }

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover
    {
        color: red;
        background-color: white;
        border-color: red;
    }

    .pagination > .active > a
    {
      color: black;
      background-color: purple;
      border: solid 1px purple;
  }

    .pagination > .active > a:hover
    {
        background-color: white;
        border: solid 1px red;
    } */
