.col-3a{
    background: black;

}

.col-12a{
    background:black;
    padding-bottom: 0;

}

.col-12b{
    padding-bottom: 0;
    align-items: center;
    display: flex;
    justify-content: center;

}

.col-12BAR{
    background: black;
    padding-bottom: 0;

}


.carousel-inner img {
  height: 100%;
  width:100%;
}


/* change the background color */
.navbar-custom {
    background-color: black;

}

ul#menu li {
  display:inline;
    padding: 30px;
}

.bottomTest
{
  position: absolute;
  bottom: 20px;
}

.col-4a
{
    padding: 15px;
}

h5a{
    color: black;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;


}

h6a{
    color: black;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;


}

h5a{
    color: black;
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;


}

midBlock
{
   text-align: center;
}

.page-footer
{

    background: black;

}

.nav-item
{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}

.nav-item2
{
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;

}



a{
    color: white;

}

a:hover {
  color: lightgray;
}

footer
{
    height: 250px;
}

input{
    width: 300px;
}

.col-6{
    display: inline-block;
}
.container-fluid
{
    padding-left: 0px;
    padding-right: 0px;
}

.mid
{
    margin: auto;
    padding-left: 350px;

}

.img-container {
    overflow: hidden;
    max-height: 210px;
}

.img {
     width: 100%;
     height: auto;
 }

.card-img-top
{
  width: 100px;
  height: 100px;
}
